.homepageHero {
  position: relative;
  z-index: 999;
}
.userDetails .card {
  border: 2px solid #ee4b4b;
}

.card {
  width: 100%;
  border: 2px solid #ee4b4b;
  margin-bottom: 20px;
}
.homepageHero .userDetails {
  color: black;
}

.userDetails .topic p {
  font-size: 18px;
  font-weight: 200;
}

.userDetails .detailstext {
  font-size: 21px;
  font-weight: 300;
  margin-left: 53px;
  margin-bottom: 0;
}
.acountDetails label {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 3px;
  margin-left: 3px;
}

.acountDetails input {
  font-weight: 300;
}

.acountDetails .btn-primary {
  background-color: orange;
  border: 2px solid #000;
  width: 150px;
  font-size: 14px;
}

.acountDetails .emailChangeButton{
    width: 180px;
}

.acountDetails .EmailMsgContainer {
  margin-top: 5px;
  display: none;
  margin-bottom: 20px;
}
.acountDetails .EmailMsg {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 8px ;
  border-radius: 5px;
}

.modal-dialog {
  color: #000;
}

.modal-backdrop {
  --bs-backdrop-zindex: 10;
}

@media screen and (max-width: 420px) {
  .userDetails .topic p {
    font-size: 16px;
    font-weight: 200;
    display: flex;
    width: fit-content;
  }

  .userDetails .detailstext {
    font-size: 20px;
    font-weight: 300;
  }
}

@media screen and (min-width: 667px) {
  .card {
    width: 600px !important;
  }
}
