@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap");
body {
  background-color: #24d0e0;
  background: linear-gradient(120deg, #31b6ff, #06e9c1);
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 77;
}
.hero .main {
  padding: 10px 18px;
}
.hero .smm h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}
.hero .boostpanel h2 {
  text-transform: uppercase;
  margin-top: 20px;
  color: #000;
  margin-left: -5px;
  font-size: 28px;
  margin-bottom: 0;
}

.boostDesc p {
  font-size: 32px;
  line-height: 40px;
  margin-top: 2px;
  text-transform: capitalize;
}
.form {
  background: #f0fcff;
  padding: 20px 30px;
  border-radius: 2px;
  position: absolute;
  z-index: 9999;
  width: 90%;
  margin-top: 50px;
}
.form .formHd {
  font-size: 22px;
}

.form form {
  width: 100%;
}
.form ::placeholder {
  font-size: 14px;
  margin-bottom: 10px;
  color: #134e78;
}
.form input:not([type="checkbox"]) {
  width: 100%;
  padding: 5px 5px;
  border: 1px solid #a8d1d9;
  color: #134e78;
}
.form input:focus {
  outline: none;
}
.form button {
  width: 100%;
  border: none;
  outline: none;
  background: #02afd0;
  color: #fff;
  margin-top: 20px;
  height: 36px;
}

.rememberForget {
  margin-top: 20px;
}

.form .rememberForget label {
  color: #000;
  font-weight: 300;
  font-size: 14px;
}
.rememberForget a {
  font-weight: 300;
  font-size: 14px;
  width: 50%;
  color: #02afd0;
}
.remember {
  margin-bottom: 10px;
}
.creatAcount p {
  color: #000;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  margin-top: 30px;
  text-align: center;
}
.creatAcount a {
  font-weight: 300;
  font-size: 14px;
  width: 50%;
  color: #02afd0;
}

#landing-mobile-background {
  top: 80px;
  left: 0;
  width: 100%;
  height: inherit;
}
#landing-mobile-background #heart-s-1 {
  width: 40px;
  height: 40px;
  top: 19%;
  left: 20%;
  position: absolute;
  opacity: 0.3;
  -webkit-animation: bounce-absolute 10s ease-in-out infinite;
  animation: bounce-absolute 10s ease-in-out infinite;
}
#landing-mobile-background #heart-s-2 {
  width: 32px;
  height: 32px;
  top: 80%;
  left: 30%;
  position: absolute;
  opacity: 0.27;
  -webkit-animation: bounce-rev-absolute 8s ease-in-out infinite;
  animation: bounce-rev-absolute 8s ease-in-out infinite;
}
#landing-mobile-background #heart-s-3 {
  width: 35px;
  height: 35px;
  top: 40%;
  left: 80%;
  position: absolute;
  opacity: 0.23;
  -webkit-animation: bounce-rev-absolute 9s ease-in-out infinite;
  animation: bounce-rev-absolute 9s ease-in-out infinite;
}
#landing-mobile-background #heart-b-1 {
  width: 75px;
  height: 75px;
  top: 90%;
  left: 5%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-rev-absolute 17s ease-in-out infinite;
  animation: bounce-rev-absolute 17s ease-in-out infinite;
}
#landing-mobile-background #heart-b-2 {
  width: 60px;
  height: 60px;
  top: 80%;
  left: 70%;
  position: absolute;
  opacity: 0.08;
  -webkit-animation: bounce-absolute 15s ease-in-out infinite;
  animation: bounce-absolute 15s ease-in-out infinite;
}
#landing-mobile-background #heart-b-3 {
  width: 60px;
  height: 60px;
  top: 18%;
  left: 70%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-rev-absolute 20s ease-in-out infinite;
  animation: bounce-rev-absolute 20s ease-in-out infinite;
}
#landing-mobile-background #heart-b-4 {
  width: 80px;
  height: 80px;
  top: 10%;
  left: 10%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-absolute 17s linear infinite;
  animation: bounce-absolute 17s linear infinite;
}
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

@-webkit-keyframes bounce-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce-rev-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce-rev-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (min-width: 992px) {
  .boostDesc p,
  .hero .boostpanel,
  .hero .smm h2 {
    text-align: left;
  }
  .hero .main {
    padding: 0 100px;
  }
  .header nav {
    padding: 2px 70px !important;
  }
  .form {
    width: 700px;
  }
  .form form {
    display: flex;
    justify-content: space-between;
  }
  .form label {
    font-size: 18px;
  }
  .form .ip {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  .form .password {
    margin-top: 0 !important;
  }
  .form button {
    width: 120px;
    border: none;
    outline: none;
    background: #02afd0;
    color: #fff;
    margin-top: 0;
  }
  .rememberForget {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-collapse {
    flex: 0;
  }
}

@media screen and (max-width: 410px) {
  .hero .smm h2 {
    font-size: 24px;
  }
  .hero .boostpanel h2 {
    font-size: 20px;
  }

  .boostDesc p {
    font-size: 28px;
  }
}
