@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap");
body {
  background-color: #24d0e0;
  background: linear-gradient(120deg, #31b6ff, #06e9c1);
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
  position: relative;
  height: 100%;
  width: 100vw;
}

.header {
  border-bottom: 2px solid #fff;
  padding-bottom: 5px;
}
.hero {
  height: fit-content;
  width: 100vw;
}
.name {
  margin-bottom: -5px;
}
.name .boost {
  font-size: 16px;
  color: rgb(250, 87, 120);
  font-weight: 700;
}
.name .smm {
  font-size: 13px;
  color: #000;
  font-weight: 500;
}
.name hr {
  color: darkred;
  opacity: 0.9;
  border-top: 1.2px solid;
}
.hero .main {
  padding: 10px 18px;
}
.navbar-toggler-icon {
  background-image: url(../img/icons8-menu-30.png);
  width: 1.6em;
  height: 1.5em;
}
.navbar-toggler {
  border: 2px solid rgb(250, 87, 120) !important;
  border-radius: 3px;
  padding: 2px 3px;
}

.hero .smm h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 0;
}
.hero .boostpanel h2 {
  text-transform: uppercase;
  margin-top: 20px;
  color: #000;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 700;
}

.boostDesc p {
  font-size: 32px;
  line-height: 35px;
  margin-top: 2px;
  text-transform: capitalize;
}
.form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 30px;
  border-radius: 2px;
  z-index: 9999;
  width: 100%;
  margin-top: 50px;
  border-radius: 15px;
  border: 2px solid #000000;
}
.form .formHd {
  font-size: 22px;
  color: 353535;
  font-weight: 600;
}

.form form {
  width: 100%;
}
.form ::placeholder {
  font-size: 14px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
}
.form input:not([type="checkbox"]) {
  width: 100%;
  padding: 0 5px;
  border: 1px solid #a8d1d9;
  color: #fff;
  color: #ff8400;
  background: #353535;
  width: 100%;
  border: none;
  outline: none;
  background: #353535;
  color: #fff;
  margin-top: 5px;
  height: 46px;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.form input:focus {
  outline: none;
  border-radius: 4px;
  border: 2px solid #ff8400;
}
.form button {
  width: 100%;
  border: none;
  outline: none;
  background: #353535;
  color: #fff;
  margin-top: 12px;
  height: 50px;
}
.form .google {
  background-color: crimson;
  height: 36px;
  border-radius: 4px;
  margin-top: 20px;
}

.rememberForget {
  margin-top: 5px;
}

.form .remember label {
  color: #000;
  font-weight: 300;
  font-size: 14px;
}
.rememberForget a {
  font-weight: 500;
  font-size: 14px;
  width: 50%;
  color: #5c5c5c;
}

.remember {
  margin-bottom: 10px;
}
.creatAcount p {
  color: #000;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-top: 30px;
  color: #5c5c5c;
}
.creatAcount a {
  font-weight: 400;
  font-size: 14px;
  width: 50%;
  color: #000;
}
.steps {
  text-align: center;
  margin-top: 30px;
}

.steps img {
  width: 70vw;
}

.steps .start {
  margin-top: 60px;
}

.step {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  border: 2px solid rgba(250, 87, 120);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.9);
  padding-top: 30px;
  margin-top: 50px !important;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.stepCounter {
  width: 50px;
  height: 50px;
  background-color: rgba(250, 87, 120);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  position: absolute;
  top: -25px;
  left: calc(50% - 25px);
  font-size: 20px;
}
.stepText {
  width: 100%;
}
.stepText h4 {
  font-size: 18px;
  color: #ee4b4b;
  font-weight: 700;
  margin-bottom: 2px;
}
.stepText p {
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  margin-bottom: 2px;
}
.pehlaStep {
  margin-top: 30px !important;
}

.whatsapp {
  position: fixed;
  bottom: 40px;
  right: 30px;
  -webkit-animation: bounce-absolute 3s linear infinite;
  animation: bounce-absolute 3s linear infinite;
}

footer {
  background-color: rgba(250, 87, 120);
  margin-top: 40px;
  text-align: center;
  padding: 12px;
}
footer p {
  margin: 0;
  color: #000;
  font-weight: 400;
  font-size: 14px;
}
footer a {
  color: #fff;
  font-weight: 300;
}

#landing-mobile-background {
  top: 10px;
  left: 0;
  width: 100%;
  height: inherit;
}
#landing-mobile-background #heart-s-1 {
  width: 40px;
  height: 40px;
  top: 12%;
  left: 20%;
  position: absolute;
  opacity: 0.3;
  -webkit-animation: bounce-absolute 10s ease-in-out infinite;
  animation: bounce-absolute 10s ease-in-out infinite;
}
#landing-mobile-background #heart-s-2 {
  width: 32px;
  height: 32px;
  top: 50%;
  left: 30%;
  position: absolute;
  opacity: 0.27;
  -webkit-animation: bounce-rev-absolute 8s ease-in-out infinite;
  animation: bounce-rev-absolute 8s ease-in-out infinite;
}
#landing-mobile-background #heart-s-3 {
  width: 35px;
  height: 35px;
  top: 20%;
  left: 80%;
  position: absolute;
  opacity: 0.23;
  -webkit-animation: bounce-rev-absolute 9s ease-in-out infinite;
  animation: bounce-rev-absolute 9s ease-in-out infinite;
}
#landing-mobile-background #heart-b-1 {
  width: 75px;
  height: 75px;
  top: 70%;
  left: 5%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-rev-absolute 17s ease-in-out infinite;
  animation: bounce-rev-absolute 17s ease-in-out infinite;
}
#landing-mobile-background #heart-b-2 {
  width: 60px;
  height: 60px;
  top: 80%;
  left: 70%;
  position: absolute;
  opacity: 0.08;
  -webkit-animation: bounce-absolute 15s ease-in-out infinite;
  animation: bounce-absolute 15s ease-in-out infinite;
}
#landing-mobile-background #heart-b-3 {
  width: 60px;
  height: 60px;
  top: 18%;
  left: 70%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-rev-absolute 20s ease-in-out infinite;
  animation: bounce-rev-absolute 20s ease-in-out infinite;
}
#landing-mobile-background #heart-b-4 {
  width: 80px;
  height: 80px;
  top: 10%;
  left: 10%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-absolute 17s linear infinite;
  animation: bounce-absolute 17s linear infinite;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

@-webkit-keyframes bounce-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce-rev-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce-rev-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media screen and (min-width: 992px) {
  .boostDesc p,
  .hero .boostpanel,
  .hero .smm h2 {
    text-align: left;
  }
  .hero .main {
    padding: 0 100px;
  }
  .header nav {
    padding: 2px 70px !important;
  }
  .form {
    width: 700px;
  }
  .form form {
    display: flex;
    justify-content: space-between;
  }
  .form label {
    font-size: 18px;
  }
  .form .ip {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }
  .form .password {
    margin-top: 0 !important;
  }
  .form button {
    width: 120px;
    border: none;
    outline: none;
    background: #02afd0;
    color: #fff;
    margin-top: 0;
  }
  .rememberForget {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar-collapse {
    flex: 0;
  }
  .remember {
    display: block;
  }
  .step {
    width: 60%;
  }
  .steps img {
    width: 400px;
  }
}

@media screen and (max-width: 410px) {
  .hero .smm h2 {
    font-size: 24px;
  }
  .hero .boostpanel h2 {
    font-size: 20px;
  }

  .boostDesc p {
    font-size: 28px;
  }
}
