@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700&display=swap");
body {
  position: relative;
  overflow: hidden;
  background-color: #24d0e0;
  background: linear-gradient(120deg, #31b6ff, #06e9c1);
  padding: 0;
  margin: 0;
  font-family: "Lexend Deca", sans-serif;
  color: #fff;
}

.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
}
.hero .smm h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
.hero .boostpanel {
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  margin-top: 40px;
  text-align: center;
}

.boostDesc p {
  font-size: 32px;
  line-height: 40px;
  margin-top: 50px;
  text-align: center;
}

#landing-mobile-background {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: inherit;
}
#landing-mobile-background #heart-s-1 {
  width: 40px;
  height: 40px;
  top: 19%;
  left: 20%;
  position: absolute;
  opacity: 0.3;
  -webkit-animation: bounce-absolute 10s ease-in-out infinite;
  animation: bounce-absolute 10s ease-in-out infinite;
}
#landing-mobile-background #heart-s-2 {
  width: 32px;
  height: 32px;
  top: 80%;
  left: 30%;
  position: absolute;
  opacity: 0.27;
  -webkit-animation: bounce-rev-absolute 8s ease-in-out infinite;
  animation: bounce-rev-absolute 8s ease-in-out infinite;
}
#landing-mobile-background #heart-s-3 {
  width: 35px;
  height: 35px;
  top: 40%;
  left: 80%;
  position: absolute;
  opacity: 0.23;
  -webkit-animation: bounce-rev-absolute 9s ease-in-out infinite;
  animation: bounce-rev-absolute 9s ease-in-out infinite;
}
#landing-mobile-background #heart-b-1 {
  width: 75px;
  height: 75px;
  top: 90%;
  left: 5%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-rev-absolute 17s ease-in-out infinite;
  animation: bounce-rev-absolute 17s ease-in-out infinite;
}
#landing-mobile-background #heart-b-2 {
  width: 60px;
  height: 60px;
  top: 80%;
  left: 70%;
  position: absolute;
  opacity: 0.08;
  -webkit-animation: bounce-absolute 15s ease-in-out infinite;
  animation: bounce-absolute 15s ease-in-out infinite;
}
#landing-mobile-background #heart-b-3 {
  width: 60px;
  height: 60px;
  top: 18%;
  left: 70%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-rev-absolute 20s ease-in-out infinite;
  animation: bounce-rev-absolute 20s ease-in-out infinite;
}
#landing-mobile-background #heart-b-4 {
  width: 80px;
  height: 80px;
  top: 10%;
  left: 10%;
  position: absolute;
  opacity: 0.1;
  -webkit-animation: bounce-absolute 17s linear infinite;
  animation: bounce-absolute 17s linear infinite;
}
.navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}

@-webkit-keyframes bounce-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounce-rev-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce-rev-absolute {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.ocean {
  height: 80px; /* change the height of the waves here */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media screen and (min-width: 992px) {
  .boostDesc p,
  .hero .boostpanel,
  .hero .smm h2 {
    text-align: left;
  }
  .main{
    padding: 0 100px;
  }
  .header nav{
    padding: 2px 70px !important;
  }
}
